
body { margin: 0; padding: 0; background: #ffffff; font-family: 'Circe-Regular', sans-serif; font-size: 14px; font-weight: normal; color: #333333; }

/* ---------------------------------------------- */

.transit-300 {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.transit-600 {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.transit-1000 {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.full-width { display: block; width: 100%; }

.full-wh { display: block; width: 100%; height: 100%; }

.max-width { display: block; max-width: 1400px; margin: 0 auto; }

.max-absolute { position: absolute; left: 0; top: 0; }

.no-pad { padding: 0; }

a:focus, input:focus, textarea:focus, select:focus, button:focus { outline: none; }

/**/

.v-preloader-container { height: 100%; background: #ffffff; opacity: 1; visibility: visible; position: fixed; left: 0; top: 0; z-index: 1000; }

.v-preloader-container img { display: inline-block; vertical-align: top; margin-left: -57px; margin-top: -31px; position: absolute; left: 50%; top: 50%; z-index: 2; }

.v-preloader-container .v-substrate { background: rgba(0, 0, 0, 0); position: absolute; left: 0; top: 0; z-index: 1; }

.v-preloader-container.v-start .v-substrate { background: rgba(0, 0, 0, 0.9); }
.v-preloader-container.complete { opacity: 0; visibility: hidden; }
.v-preloader-container.complete img { display: none; }

/**/
.ajax-wait { display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.8); opacity: 0; visibility: hidden; position: fixed; left: 0; top: 0; z-index: 10000; }
.ajax-wait.start { opacity: 1; visibility: visible; }
.ajax-wait img { width: 40px; }
/**/

.top-bar { padding: 50px 0 20px 0; position: fixed; left: 0; top: 0; z-index: 500;   }

.top-bar.after-scroll { padding: 24px 0 24px 0; background: #ffffff; box-shadow: 0 0 10px #cccccc; }

.top-bar .bar-logo { display: inline-block; vertical-align: top; float: left; }

.top-bar .bar-logo .most-logo { width: 94px; cursor: pointer; }

.top-bar .bar-logo .logo-title { display: inline-block; vertical-align: top; margin-left: 18px; padding-top: 4px; font-size: 18px; }

.top-bar .bar-callback { display: inline-block; vertical-align: top; float: right; font-size: 24px; color: #000000; text-decoration: none !important; }

/**/

.f-footer { background: #202020; padding: 50px 0 50px 0; position: relative; }
.b-footer { background: #000000; padding: 20px 0 20px 0; position: relative; }

.f-footer .f-left { display: inline-block; vertical-align: top; float: left; }
.f-footer .f-right { display: inline-block; vertical-align: top; float: right; }
.f-footer .f-right .fr-cont { display: inline-block; vertical-align: top; padding-top: 10px; text-align: right; color: #cccccc; }

.f-footer .f-left .f-logo-link { display: inline-block; vertical-align: top; }

.f-footer .f-left .f-content { display: inline-block; vertical-align: top; margin-left: 120px; padding-top: 10px; }

.f-footer .f-left .f-logo-link .log-foot { margin-bottom: 40px; }

.f-prav-inf { font-family: 'Circe-Light', sans-serif; font-size: 20px; color: #ffffff; }

/**/

.legal-container { padding-top: 170px; background: #F7F7F7; }

.legal-container .link-block { display: block; width: 400px; float: left; padding-right: 60px; }

.legal-container .link-block .link-block-title { font-size: 28px; }

.legal-container .link-block .link-block-sub-title { margin-top: 30px; font-size: 20px; }

.a-legal-lnk { margin: 20px 0; font-size: 18px; }

.legal-container .legal-content { margin-left: 400px; background: #ffffff; margin-bottom: 30px; padding: 20px 40px 20px 40px; }

.d-container { margin: 20px 0; text-align: right; }

.d-container .d-link { display: inline-block; vertical-align: top; margin: 20px 0; padding: 4px 20px; background: #cccccc; font-size: 14px; color: #5d5d5d; border-radius: 30px; border: 1px solid #999999; text-align: right; text-decoration: none !important; }
.d-container .d-link:hover { background: #ababab; }

.d-container .d-link img { width: 18px; margin-left: 4px; }










/* ВРЕМЕННАЯ ЗАГЛУШКА ЛОГОТИПОМ */
.tt-preloader-container { height: 100%; background: #ffffff; opacity: 1; visibility: visible; position: fixed; left: 0; top: 0; z-index: 10000;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}
.pr-block { display: inline-block; vertical-align: top; margin-left: -25px; margin-top: -25px; position: absolute; left: 50%; top: 50%; z-index: 2; }
.l-name { margin-left: 50px; opacity: 0; visibility: hidden; position: absolute; left: 100%; top: 0; z-index: 1; }
.l-name.start { margin-left: 20px; opacity: 1; visibility: visible; }
.l-context { display: block; width: 200px; font-size: 12px; color: #cccccc; text-transform: uppercase; opacity: 0; visibility: hidden; position: absolute; left: 12px; bottom: -30px; z-index: 1; }
.l-context.start { bottom: -60px; opacity: 1; visibility: visible; }
.tt-preloader-container .l-round { display: inline-block; vertical-align: top; }
.tt-preloader-container .l-dot-block { display: inline-block; vertical-align: top; width: 50px; height: 50px; position: absolute; left: 0; top: 0; z-index: 1;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    -o-transition: 3s ease-out;
    transition: 3s ease-out;
}
.tt-preloader-container .l-dot { display: inline-block; vertical-align: top; width: 8px; height: 8px; background: #ff0000; border-radius: 50%; opacity: 0; visibility: hidden; position: absolute; right: -6px; top: -6px; z-index: 2; }
.tt-preloader-container .l-dot.anim { animation: dotAnimateBlink 3s linear infinite; }
@-webkit-keyframes dotAnimateBlink {
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes dotAnimateBlink {
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.tt-preloader-container.start { background: #151515; }
.tt-preloader-container.start .l-dot-block {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.tt-preloader-container.start .l-dot { opacity: 1; visibility: visible; }
/*/ВРЕМЕННАЯ ЗАГЛУШКА ЛОГОТИПОМ/*/