
.start-block { height: 670px; background: url('../images/tariff/top-background/background.png') no-repeat; background-size: cover !important; background-position: 50% 50% !important; position: relative; }

.start-block .sb-shading { background: rgba(0, 0, 0, 0.7); z-index: 1; }

.start-block .sb-container { display: table; width: 100%; height: 100%; position: relative; z-index: 2; }

.start-block .sb-container .sb-container-cell { display: table-cell; vertical-align: middle; text-align: center; position: relative; }

.start-block .sb-container .sb-container-cell .sb-title { font-size: 48px; color: #ffffff; line-height: 64px; }

.start-block .sb-container .sb-container-cell .sb-sub-title { margin-top: 20px; font-family: 'Circe-Light', sans-serif; font-size: 36px; color: #ffffff; }

.start-block .sb-container .sb-container-cell .sb-btn-block { margin-top: 40px; }

.start-block .sb-container .sb-container-cell .sb-btn-block .sb-button { display: inline-block; vertical-align: top; padding: 18px 50px; background: #079548; font-size: 18px; color: #ffffff; text-transform: uppercase; border-radius: 30px; cursor: pointer; }
.start-block .sb-container .sb-container-cell .sb-btn-block .sb-button:hover { background: #076532; }

.start-block .sb-container .sb-container-cell .sb-bottom-container { position: absolute; left: 0; bottom: 40px; z-index: 1; }

.start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block { font-size: 18px; color: #ffffff; }

.start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block .sb-inline-name { display: inline-block; vertical-align: top; margin-right: 60px; }

.start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block .sb-inline-name img { margin-right: 6px; position: relative; top: -2px; }

/**/

.rate-container { background: linear-gradient(177.73deg, #FFFFFF 7.07%, #D4EDFF 45.41%, #E8F5FF 98.86%); }

.rate-container .title-program { padding-top: 60px; font-size: 36px; color: #4F4F4F; text-align: center; }

.rate-container .program-content { margin-top: 20px; text-align: center; }

.rate-container .program-content .pr-btn-container { margin-top: 30px; }

.rate-container .program-content .pr-btn-container .btn-program { display: inline-block; vertical-align: top; padding: 18px 50px; background: linear-gradient(282.26deg, #079548 8.48%, #3D9507 94.35%); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); font-size: 18px; color: #ffffff; text-transform: uppercase; border-radius: 30px; cursor: pointer; }

.rate-container .program-content .pr-btn-container .btn-program:hover { background: linear-gradient(282.26deg, #3D9507 8.48%, #079548 94.35%); box-shadow: none; }

.img-prog-monitor { display: inline-block; }
.img-prog-tablet-gorizont { display: none; }

/**/

.rate-container .learn-get-title { padding-top: 60px; font-size: 48px; color: #005077; font-weight: bold; text-align: center; }

.rate-container .learn-get-content { margin-top: 60px; font-size: 22px; color: #154573; }

.rate-container .learn-get-content .col-left { padding-right: 40px; }

.rate-container .learn-get-content .col-right { padding-right: 40px; }

.rate-container .learn-get-content .item-learn-inline { margin: 30px 0; }

.rate-container .learn-get-content .item-learn-inline .item-icon { display: block; width: 16px; float: left; }

.rate-container .learn-get-content .item-learn-inline .item-name { margin-left: 16px; padding-left: 20px; line-height: 24px; }

/**/

.rate-container .go-learn-container { margin-top: 60px; padding: 40px 0 60px 0; background: #ffffff; box-shadow: 0 38px 27px rgba(0, 0, 0, 0.25); position: relative; }

.rate-container .go-learn-container .go-learn-title { font-size: 48px; color: #005077; text-align: center; }

.rate-container .go-learn-container .go-learn-items { margin-top: 40px; text-align: center; position: relative; z-index: 2; }

.rate-container .go-learn-container .go-learn-items .item-learn-icon { height: 66px; }

.rate-container .go-learn-container .go-learn-items .item-learn-share { margin: 36px 0; }

.rate-container .go-learn-container .go-learn-items .item-learn-share .inline-share { display: inline-block; vertical-align: top; width: 38px; height: 38px; background: #005077; border-radius: 50%; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); position: relative; }

.rate-container .go-learn-container .go-learn-items .item-learn-share .inline-share .inline-share-dot { display: block; width: 7px; height: 7px; background: #ffffff; border-radius: 50%; position: absolute; left: 9px; top: 9px; z-index: 1; }

.rate-container .go-learn-container .go-learn-items .item-learn-name { font-family: 'Circe-Light', sans-serif; font-size: 18px; color: #005077; }

.rate-container .go-learn-container .go-learn-btn-block { margin-top: 50px; text-align: center; }

.rate-container .go-learn-container .go-learn-btn-block .go-learn-button {
    display: inline-block;
    vertical-align: top;
    padding: 18px 50px;
    background: linear-gradient(282.26deg, #079548 8.48%, #3D9507 94.35%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
}
.rate-container .go-learn-container .go-learn-btn-block .go-learn-button:hover { background: linear-gradient(282.26deg, #3D9507 8.48%, #079548 94.35%); box-shadow: none; }

.rate-container .go-learn-container .go-learn-line { height: 10px; background: url('../images/tariff/icons/learn-go-line.png') repeat-x; position: absolute; left: 0; top: 225px; z-index: 1; }

/**/

.rate-container .itog-title { margin-top: 100px; font-size: 48px; color: #005077; font-weight: bold; text-align: left; text-transform: uppercase; }

.rate-container .itog-list-container { font-size: 22px; color: #000000; position: relative; z-index: 2; }

.rate-container .itog-list-container .itog-items { display: block; width: 50%; padding: 30px 0; position: relative; z-index: 2; }

.rate-container .itog-list-container .itog-items .itog-item { margin: 30px 0; }

.rate-container .itog-list-container .itog-items .itog-item .item-icon { display: block; width: 55px; float: left; }

.rate-container .itog-list-container .itog-items .itog-item .item-name { margin-left: 55px; padding-left: 20px; padding-top: 4px; line-height: 24px; font-size: 20px; color: #154573; font-weight: bold; }

/**/

.rate-container .tariff { margin-top: 0; text-align: center; position: relative; z-index: 1; }

.rate-container .tariff .inline-design-img { display: inline-block; vertical-align: top; position: absolute; top: -816px; right: 220px; z-index: 1; }

/**/

.digits { display: block; width: 100%; /*height: 90px;*/ margin-top: 8px; }
.digits .cntSeparator { display: inline-block; vertical-align: middle; margin: 0 4px; padding-top: 24px; font-size: 20px; font-weight: 600; }

/**/

.wr-button {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    padding: 18px 50px;
    background: linear-gradient(282.26deg, #890004 8.48%, #c60004 94.35%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
}
.wr-button:hover { background: linear-gradient(282.26deg, #c60004 8.48%, #890004 94.35%); box-shadow: none; }

/**/

.super-like { display: none; width: 100%; margin-top: -100px; }
.super-like.view { display: block; }

.super-like .like-substrate { height: 830px; background: url('../images/tariff/img/t-subtract-tariff.png') 50% 0 no-repeat; }

.super-like .like-substrate .ls-content { display: block; max-width: 1070px; margin: 0 auto; padding-top: 130px; text-align: center; }

.super-like .like-substrate .ls-content .ls-text-1 { font-size: 48px; }
.super-like .like-substrate .ls-content .ls-text-2 { font-size: 48px; }
.super-like .like-substrate .ls-content .ls-text-3 { margin: 20px 0; font-size: 58px; color: #005077; font-weight: bold; }
.super-like .like-substrate .ls-content .ls-text-4 { font-size: 48px; }

.super-like .like-time-container { margin-top: -270px; text-align: center; }

.super-like .like-time-container .dig-block { display: inline-block; vertical-align: top; padding: 40px; background: #ffffff; box-shadow: 0 60px 40px rgba(100, 100, 100, 0.6); }

.super-like .like-bottom { margin-top: 80px; padding-bottom: 50px; text-align: center; }

.super-like .like-bottom .lb-text-1 { font-size: 48px; line-height: 60px; }
.super-like .like-bottom .lb-text-2 { margin-top: 30px; font-size: 38px; color: #555555; line-height: 48px; }
.super-like .like-bottom .lb-text-3 { margin-top: 30px; font-size: 48px; color: #005077; font-weight: bold; }
.super-like .like-bottom .lb-text-4 { margin-top: 30px; font-size: 38px; color: #555555; }
.super-like .like-bottom .lb-text-5 { margin-top: 40px; font-size: 24px; color: #000000; }

/* PAYMENT */

.snow-block { height: 100%; overflow: hidden; position: absolute; left: 0; top: 0; z-index: -1; }

.snow-max { position: relative; }

.snow-max img { position: absolute; }

.snow-max .snow-posit-1 { left: 300px; top: 104px; }
.snow-max .snow-posit-2 { left: 600px; top: 204px; }
.snow-max .snow-posit-3 { left: 800px; top: 404px; }
.snow-max .snow-posit-4 { left: 1100px; top: 604px; }
.snow-max .snow-posit-5 { left: 400px; top: 650px; }

/**/

.payment-bar { padding: 40px 80px 40px 0; }

.payment-bar .p-logo { display: inline-block; vertical-align: top; float: left; margin-left: 80px; }

.payment-bar .link-back { display: inline-block; vertical-align: top; padding-top: 16px; float: right; }

.payment-bar .link-back a { font-size: 16px; color: #9D9D9D; }

.payment-content { margin-top: 40px; margin-bottom: 200px; }

.payment-content .max-content { position: relative; }

.payment-content .max-content .content-cell { position: relative; z-index: 2; }

.payment-content .max-content .content-cell .rate-title { font-size: 36px; }

.payment-content .max-content .content-cell .rate-kurs-name { margin-top: 20px; font-size: 24px; }
.payment-content .max-content .content-cell .rate-kurs-name img { margin-right: 12px; }

.payment-content .max-content .content-cell .rate-srok { margin-top: 20px; font-size: 24px; color: #828282; }

.payment-content .max-content .content-cell .rate-sum { margin-top: 20px; font-size: 36px; font-weight: bold; color: #2D9CDB; }

.payment-content .max-content .content-cell .rate-sum .rate-sum-zamorozka { font-size: 18px; color: #2D9CDB; }

.payment-content .max-content .content-cell .old-price { margin-top: 20px; font-size: 18px; color: #828282; }

.payment-content .max-content .content-cell .old-price span { text-decoration: line-through; }

.payment-content .max-content .content-cell .payment-btns { margin-top: 40px; }

.payment-content .max-content .content-cell .payment-btns .pay-button { display: inline-block; vertical-align: top; padding: 12px 30px; margin-right: 30px; background: linear-gradient(282.26deg, #079548 8.48%, #3D9507 94.35%); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); font-size: 14px; color: #ffffff; text-transform: uppercase; border-radius: 30px; cursor: pointer; }
.payment-content .max-content .content-cell .payment-btns .pay-button:hover { background: linear-gradient(282.26deg, #3D9507 8.48%, #079548 94.35%); box-shadow: none; }

.payment-content .max-content .content-cell .payment-btns .pay-button-zamor { display: inline-block; vertical-align: top; padding: 12px 30px; margin-right: 30px; background: linear-gradient(285.54deg, #0D8CC3 4.69%, #4BC9FF 110.44%); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); font-size: 14px; color: #ffffff; text-transform: uppercase; border-radius: 30px; cursor: pointer; }
.payment-content .max-content .content-cell .payment-btns .pay-button-zamor:hover { background: linear-gradient(285.54deg, #4BC9FF 4.69%, #0D8CC3 110.44%); box-shadow: none; }

.payment-content .max-content .content-cell .oplata-text { margin-top: 30px; font-size: 14px; color: #828282; }

.payment-content .max-content .cell-decoration { position: absolute; top: 0; right: 0; z-index: 1; }

/* popup */

.pay-pop-close { display: inline-block; vertical-align: top; cursor: pointer; position: absolute; top: 0; right: -30px; }

.pay-pop-button { display: inline-block; vertical-align: top; padding: 12px 30px; margin-right: 30px; background: linear-gradient(282.26deg, #079548 8.48%, #3D9507 94.35%); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); font-size: 14px; color: #ffffff; text-transform: uppercase; border: 0; border-radius: 40px; cursor: pointer; }
.pay-pop-button:hover { background: linear-gradient(282.26deg, #3D9507 8.48%, #079548 94.35%); box-shadow: none; }

.pay-form-container { background: rgba(0, 0, 0, 0.6); overflow-y: auto; opacity: 0; visibility: hidden; position: fixed; left: 0; top: 0; z-index: 100; }
.pay-form-container.view { opacity: 1; visibility: visible; }

.pay-form-container .pay-form-block { display: table; width: 100%; height: 100%; }
.pay-form-container .pay-form-block .pay-form-cell { display: table-cell; vertical-align: middle; text-align: center; padding: 30px 0; }

.pay-form-container .pay-form-block .pay-form-cell .pay-form-win { display: block; max-width: 480px; margin: 0 auto; padding: 30px 0 30px 0; background: #ffffff; position: relative; }

.pay-form-container .pay-form-block .pay-form-cell .pay-form-win .pay-form-title { padding: 0 76px; font-size: 20px; font-weight: bold; }

.pay-form-container .pay-form-block .pay-form-cell .pay-form-win .pay-form-content { margin-top: 10px; padding: 0 60px; }

.pay-form-container .pay-form-block .pay-form-cell .pay-form-win .pay-form-content .pay-form-item { margin: 20px 0; }

.pay-form-container .pay-form-block .pay-form-cell .pay-form-win .pay-form-content .pay-form-item .pay-in-form { padding: 6px 20px; font-size: 16px; border-radius: 30px; border: 1px solid #A7A9AC; }

.pay-form-container .pay-form-block .pay-form-cell .pay-form-win .pay-form-content .pay-form-item.error .pay-in-form { border: 1px solid #ff0000; }

/**/

.t-go-learn-button { display: inline-block; vertical-align: top; margin: 8px 0; padding: 12px 28px; background: linear-gradient(282.26deg, #079548 8.48%, #3D9507 94.35%); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); font-size: 14px; color: #ffffff; text-transform: uppercase; text-decoration: none !important; border-radius: 30px; cursor: pointer; }
.t-go-learn-button:hover { background: linear-gradient(282.26deg, #3D9507 8.48%, #079548 94.35%); box-shadow: none; }


/* Customize the label (the ch-container) */
.personal-data-block .ch-container {
    display: block;
    position: relative;
    left: 0;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.personal-data-block .ch-container input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom checkbox */
.personal-data-block .checkmark { position: absolute; top: 0; left: 0; height: 22px; width: 22px; background-color: #ebebeb; }
/* On mouse-over, add a grey background color */
.personal-data-block .ch-container:hover input ~ .checkmark { background-color: #cccccc; }
/* When the checkbox is checked, add a blue background */
.personal-data-block .ch-container input:checked ~ .checkmark { background-color: #27AE60; }
/* Create the checkmark/indicator (hidden when not checked) */
.personal-data-block .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the checkmark when checked */
.personal-data-block .ch-container input:checked ~ .checkmark:after { display: block; }
/* Style the checkmark/indicator */
.personal-data-block .ch-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*/Customize the label (the ch-container)/*/
.pop-form-title { font-size: 36px; }
.pop-form-block { display: block; max-width: 700px; margin: 0 auto; padding: 40px 0 50px 0; background: #ffffff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); position: relative; }
.close-pop { position: absolute; right: -40px; top: 0; cursor: pointer; }
/*.quest-container .quest-form-container*/ .quest-form-item { margin: 30px 0; }
/*.quest-container .quest-form-container*/ .quest-form-item .quest-in-form { padding: 15px 30px; font-size: 20px; border: 2px solid #C4C4C4; border-radius: 40px; }
/*.quest-container .quest-form-container*/ .quest-form-item.error input { border: 2px solid #ff0000; }
.quest-container .quest-form-container .quest-block-button { margin-top: 40px; text-align: center; }
/*.quest-container .quest-form-container .quest-block-button*/ .quest-btn { display: inline-block; vertical-align: top; padding: 22px 100px; background: #27AE60; font-size: 20px; color: #ffffff; cursor: pointer; border: 0; border-radius: 40px; }
/*.quest-container .quest-form-container .quest-block-button*/ .quest-btn:hover { background: #1f783c; }

.zap-container { background: rgba(0, 0, 0, 0.5); overflow-y: auto; position: fixed; left: 0; top: 0; z-index: 1000; opacity: 0; visibility: hidden; }
.zap-container.view { opacity: 1; visibility: visible; }




/*/PAYMENT/*/

/* THANKYOU */

.thank-page-container { overflow-y: auto; position: fixed; left: 0; top: 0; z-index: 1; }

.thank-page-container .thank-wrap { display: table; width: 100%; height: 100%; }

.thank-page-container .thank-wrap .thank-cell { display: table-cell; vertical-align: middle; text-align: center; padding: 30px 20px; }

.thank-page-container .thank-wrap .thank-cell .line-title-1 { margin: 10px 0; font-size: 30px; color: #414654; }

.thank-page-container .thank-wrap .thank-cell .line-title-2 { margin: 10px 0; font-size: 24px; color: #2d9cdb; }

.thank-page-container .thank-wrap .thank-cell .date-block { margin-top: 30px; }

.thank-page-container .thank-wrap .thank-cell .date-block .date-cell { display: inline-block; vertical-align: top; padding: 14px 14px 10px 14px; border: 1px solid #CCCBCB; }

.thank-page-container .thank-wrap .thank-cell .date-block .date-cell .img-cell { margin-bottom: 10px; }

.thank-page-container .thank-wrap .thank-cell .date-block .date-cell .date-dsk { margin: 10px; font-size: 20px; color: #000000; }

/*/THANKYOU/*/
