
@media screen and (max-width: 1600px) {

    .max-width { max-width: 1200px; }

    /**/











    /**/

    .rate-container .learn-get-title { font-size: 36px; }
    .rate-container .learn-get-content { margin-top: 30px; font-size: 18px; }
    .rate-container .learn-get-content .item-learn-inline { margin: 22px 0; }

    /**/

    .rate-container .go-learn-container .go-learn-title { font-size: 36px; }
    .rate-container .go-learn-container .go-learn-items .item-learn-name { font-size: 22px; }
    .rate-container .go-learn-container .go-learn-line { top: 248px; }

    /**/

    .rate-container .itog-title { font-size: 36px; }
    .rate-container .itog-list-container { font-size: 18px; overflow-x: hidden; }
    .rate-container .itog-list-container .itog-items .itog-item { margin: 24px 0; }
    .rate-container .itog-list-container .itog-items { padding: 20px 0 40px 0; }

    /**/

    .rate-container .tariff .inline-design-img { right: 0; top: -624px; }
    .rate-container .tariff .inline-design-img img { width: 770px; }






}

@media screen and (max-width: 1250px) {

    .max-width { max-width: 920px; }

    /**/

    .fac-slider, .choose-fac-slider { width: 900px; }





    /* RATE BROKERIGE */

    .top-bar-container .tb-logo { margin-left: 60px; }
    .top-bar-container .right-container { margin-right: 60px; }

    .start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block { font-size: 16px; }
    .start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block .sb-inline-name { margin-right: 12px; }

    .rate-container .go-learn-container .go-learn-items .col-xs-3 { width: 50%; }
    .rate-container .go-learn-container .go-learn-items .item-learn-share .inline-share { display: none; }
    .rate-container .go-learn-container .go-learn-line { display: none; }
    .rate-container .go-learn-container .go-learn-items .item-learn-name { margin-bottom: 30px; padding: 0 22px; font-size: 22px; }
    .rate-container .go-learn-container .go-learn-btn-block { margin-top: 20px; }

    .rate-container .itog-title { margin-top: 80px; }
    .rate-container .tariff .inline-design-img { right: -84px; }
    .rate-container .itog-list-container .itog-items { width: 55%; }

    .super-like .like-substrate { height: auto; }
    .super-like { margin-top: 30px; }
    .super-like .like-time-container { margin-top: 30px; }
    .super-like .like-substrate .ls-content { padding: 50px 0; }
    .super-like .like-substrate .ls-content .ls-text-1 { font-size: 38px; }
    .super-like .like-substrate .ls-content .ls-text-2 { font-size: 38px; }
    .super-like .like-substrate .ls-content .ls-text-3 { font-size: 48px; }
    .super-like .like-substrate .ls-content .ls-text-4 { font-size: 38px; }

    .super-like .like-bottom .lb-text-1 { font-size: 38px; }
    .super-like .like-bottom .lb-text-2 { font-size: 28px; }
    .super-like .like-bottom .lb-text-3 { font-size: 38px; }
    .super-like .like-bottom .lb-text-4 { font-size: 28px; margin-top: 40px; }
    .super-like .like-bottom .lb-text-5 { font-size: 20px; }
    .wr-button { margin: -8px 20px 0 20px; }

    .max-prog-container { padding: 0 30px; }

    .rate-container .itog-list-container { overflow-x: hidden; }

    .rate-container .tariff { display: none; }
    .tariff-mobile-t { display: block; }
    .tariff-name-m { display: block; }

    /* RATE BROKERIGE */

}

@media screen and (max-width: 1000px) {

    .max-width { max-width: 700px; }

    /**/

    .start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block .sb-inline-name { margin: 20px 10px 0 10px; }

    .item-prog .item-inner .item-desc-cell .item-desc-right { width: 100%; padding: 0 30px 30px 30px; position: relative; }

    .item-prog .item-inner .item-desc-cell { padding-right: 0; }

    .item-prog .item-inner .item-desc-cell .item-desc-middle { padding: 30px 30px 30px 30px; }

    .rate-container .go-learn-container .go-learn-items .col-xs-3 { height: 290px; }

    /**/
    .tariff-tablet { display: block; }
    .tariff-mobile-t { display: none; }
    /**/

    .close-pop { right: 0; top: -30px; }
    .pop-form-title { font-size: 30px; }
    .quest-form-item .quest-in-form { font-size: 16px; }
    .quest-btn { padding: 16px 72px; }
    .zap-container { padding: 0 16px; }

    .quest-form-item { padding: 0 30px; }






}

@media screen and (max-width: 760px) {

    .max-width { width: 100%; }

    /**/

    .top-bar-container .right-container { display: none; }

    .top-bar-container.not-bar { padding: 30px 0; }
    .top-bar-container .tb-logo { margin-left: 20px; }

    .start-block .sb-container .sb-container-cell .sb-bottom-container { position: relative; bottom: 0; text-align: left; padding-left: 16px; margin-top: 20px; }

    .start-block .sb-container .sb-container-cell { padding-top: 150px; padding-bottom: 30px; }

    .start-block .sb-container .sb-container-cell .sb-title { font-size: 32px; }
    .start-block .sb-container .sb-container-cell .sb-sub-title { font-size: 21px; }

    .start-block .sb-container .sb-container-cell .sb-btn-block .sb-button { font-size: 14px; }

    .max-prog-container { margin: 40px auto 0 auto; padding: 0 14px; }
    .rate-container .title-program { padding-top: 40px; font-size: 21px; color: #005077; font-weight: bold; }

    .item-prog .item-inner .item-num-cell { vertical-align: top; width: 70px; position: relative; }

    .item-prog .item-inner .item-num-cell .num-cell { font-size: 32px; line-height: 40px; }
    .item-prog .item-inner .item-num-cell .num-text { font-size: 16px; }
    .item-prog .item-inner .item-num-cell .num-icon { position: absolute; left: 0; bottom: 16px; }

    .item-prog .item-inner .item-desc-cell .item-desc-middle .desc-title { font-size: 18px; }

    .item-prog .item-inner .item-desc-cell .item-desc-middle { padding: 30px 20px 30px 20px; font-size: 16px; }

    .item-prog .item-inner .item-desc-cell .item-desc-right { padding: 0 20px 20px 20px; }
    .item-prog .item-inner .item-desc-cell .item-desc-right .dr-container .dr-cell .ttl-text { font-size: 18px; }
    .item-prog .item-inner .item-desc-cell .item-desc-right .dr-container .dr-cell { font-size: 16px; }

    .rate-container { background: #ffffff; }

    .rate-container .go-learn-container .go-learn-title { font-size: 21px; font-weight: bold; }

    .rate-container .go-learn-container .go-learn-items .col-xs-3 { display: block; width: 100%; float: none; }
    .rate-container .go-learn-container { padding: 0 0 60px 0; box-shadow: none; }
    .rate-container .go-learn-container .go-learn-items .item-learn-name { font-size: 18px; }

    .rate-container .itog-title { margin-top: 10px; font-size: 21px; font-weight: bold; text-align: center; }

    .rate-container .go-learn-container .go-learn-btn-block .go-learn-button { font-size: 14px; }

    .rate-container .tariff .inline-design-img { display: none; }

    .rate-container .itog-list-container .itog-items { width: 100%; }

    .rate-container .itog-list-container .itog-items .itog-item { padding: 0 16px; }
    .rate-container .itog-list-container .itog-items .itog-item .item-name { padding-bottom: 16px; font-size: 16px; border-bottom: 1px solid #154573; }

    /**/
    .tariff-tablet { display: none; }
    .tariff-mobile-t { display: block; }
    /**/

    .tariff-name-m { font-size: 21px; }

    .super-like .like-bottom { margin-top: 40px; padding-bottom: 30px; }

    .super-like .like-substrate .ls-content .ls-text-1 { font-size: 24px; }
    .super-like .like-substrate .ls-content .ls-text-2 { font-size: 24px; padding: 0 20px; }
    .super-like .like-substrate .ls-content .ls-text-3 { font-size: 24px; }
    .super-like .like-substrate .ls-content .ls-text-4 { font-size: 24px; }
    .super-like .like-time-container { display: none; }

    .super-like .like-bottom .lb-text-1 { font-size: 24px; line-height: 32px; }
    .super-like .like-bottom .lb-text-2 { font-size: 24px; line-height: 32px; margin-top: 0; }
    .super-like .like-bottom .lb-text-3 { font-size: 24px; line-height: 32px; }
    .super-like .like-bottom .lb-text-4 { font-size: 24px; line-height: 32px; }

    .wr-button { margin: 20px 0; padding: 12px 50px; font-size: 14px; }

    .super-like .like-bottom .lb-text-5 { margin-top: 30px; font-size: 14px; text-align: left; }

    .super-like .like-bottom .lb-text-4 .lb-1 { display: block; width: 100%; }
    .super-like .like-bottom .lb-text-4 .lb-2 { display: block; width: 100%; }


    /**/

    .b-footer { padding: 20px 16px 20px 16px; }

    .f-footer { padding: 40px 16px 30px 16px; }

    .f-footer .f-right { display: block; width: 100%; }
    .f-footer .f-right .fr-cont { padding-top: 30px; text-align: left; }

    .f-footer .f-left .f-content { margin-left: 0; float: right; text-align: right; }
    .f-footer .f-left { display: block; width: 100%; float: none; }

    .f-prav-inf { font-size: 16px; }

    /**/

    .start-block .sb-container .sb-container-cell .sb-title { line-height: 40px; }
    .start-block .sb-container .sb-container-cell .sb-title span { display: block; }

    .start-block .sb-container .sb-container-cell .sb-sub-title .stt-1 { display: block; margin-bottom: -30px; }
    .start-block .sb-container .sb-container-cell .sb-sub-title .stt-2 { display: block; }

    /**/

    .rate-container .go-learn-container .go-learn-items { display: none; }
    .go-learn-items-m { display: block; }

    .start-block .sb-container .sb-container-cell .sb-bottom-container { margin-top: 30px; }
    .start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block .sb-inline-name { display: block; width: 100%; margin: 20px 0 0 0; }
    .start-block .sb-container .sb-container-cell .sb-bottom-container .mw-block .sb-inline-name span { display: block; width: 100%; padding-left: 32px; }

    .rate-container .itog-title { padding: 0 20px; }

    .tariff-item-m { display: block; width: 100%; }
    .tar-list { width: 100%; }
    .tariff-mobile-t { padding: 0 10px; }

    .super-like .like-bottom { padding: 0 14px 30px 14px; }



}

@media screen and (max-width: 350px) {

    .f-footer .f-left .f-logo-link { display: block; width: 100%; }

    .f-footer .f-left .f-content { display: block; width: 100%; float: none; text-align: left; margin-top: 20px; }

}